doctype html
html(lang='en')
  head
    title 404 Not Found
    link(rel="apple-touch-icon" href='/icon-256x256.png')
  body
    h1 Oooops!
    p You have gone the wrong way!
    img(src='/img/wrong-way.jpg')
