doctype html
html(lang='en')
  head
    title 500 Internal Server error
    link(rel="apple-touch-icon" href='/icon-256x256.png')
  body
    h1 Oooops!
    p Looks like somethin broke!
    img(src='/img/broken.jpg')
    pre= data
